@media (max-width: 960px) {
    .col {
        float: none;
    }

    .col-25,
    .col-75 {
        width: 100%;
    }

    .photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3, p, .p-large {
        text-align: center;
    }

    /*li {*/
    /*    margin-left: 20px;*/
    /*}*/
}
