body {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.row {
    margin: 0 ;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.no_under {
    border-bottom: none;
}

.row:after {
    clear: both;
    content: " ";
    display: block;
}

.col {
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
}

.col-100 {
    width: 100%;
}

.col-75 {
    width: 75%;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-25 {
    width: 25%;
}

.photo {
    width: 250px;
    border-radius: 50%;
}

.photo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mb-2 {
    margin-bottom: 20px;
}

.mt {
    margin-top: 3em;
}

.mt-2 {
    margin-top: 1.5em;
}